@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Museo Sans", "Eldwin Trial Script Heavy", Arial, Helvetica,
    sans-serif;
}

@font-face {
  font-family: "Eldwin Trial Script Heavy";
  src: url("/fonts/EldwinTrial-ScriptHeavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/MuseoSans_500.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Estilos para ocultar scrollbar */
/* globals.css */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* ───────────────────────────
       🎯 Roles principales
    ──────────────────────────── */
    --primary: 5 36% 43%; /* #934D48 - vino */
    --primary-foreground: 42 9% 89%; /* #E5E4E0 - gris claro */

    --secondary: 10 30% 68%; /* #C69E97 - rosado */
    --secondary-foreground: 18 11% 29%; /* #534741 - marrón oscuro */

    --accent: 12 24% 73%; /* #C9B0AB - rosa claro */
    --accent-foreground: 18 11% 29%;

    --destructive: 0 84% 60%; /* rojo */
    --destructive-foreground: 0 0% 98%;

    /* ───────────────────────────
       🧱 Fondo y texto base
    ──────────────────────────── */
    --background: 42 9% 89%; /* #E5E4E0 - gris claro */
    --foreground: 18 11% 29%; /* #534741 - marrón oscuro */

    /* ───────────────────────────
       🧩 Elementos UI auxiliares
    ──────────────────────────── */
    --muted: 24 15% 80%; /* #D5CAC4 - beige */
    --muted-foreground: 18 11% 29%;

    --border: 24 15% 80%;
    --input: 24 15% 80%;
    --ring: 5 36% 43%;

    /** Para que no se vea transparentes las listas desplegables */
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    /* ───────────────────────────
       🧭 Sidebar específico
    ──────────────────────────── */
    --sidebar-background: 12 24% 73%; /* #C9B0AB */
    --sidebar-foreground: 18 11% 29%; /* #534741 */
    --sidebar-primary: 5 36% 43%; /* #934D48 */
    --sidebar-primary-foreground: 42 9% 89%; /* #E5E4E0 */
    --sidebar-accent: 10 30% 68%; /* #C69E97 */
    --sidebar-accent-foreground: 18 11% 29%;
    --sidebar-border: 24 15% 80%;
    --sidebar-ring: 5 36% 43%;

    /* ───────────────────────────
       🟦 Global UI tokens
    ──────────────────────────── */
    --radius: 0.5rem;
  }
}
